.central{
    align-items: center;
    text-align: center;
    font-style:italic;
    top: 300px;
    position:relative;
    display: flex;
    float: left;
}
.bott{
    font-style:italic;
}

.corpo{
    background-color: #D8BFD8;
}